{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#ffd700">

        <link rel="manifest" href='{% static "manifest.json" %}'>

        <link rel="apple-touch-icon" sizes="180x180" href='{% static "apple-touch-icon.png" %}'>
        <link rel="icon" type="image/png" sizes="32x32" href='{% static "favicon-32x32.png" %}'>
        <link rel="icon" type="image/png" sizes="16x16" href='{% static "favicon-16x16.png" %}'>
        <link rel="mask-icon" href='{% static "safari-pinned-tab.svg" %}' color="#ab9522">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}{{ title | default:"Character Database 🐝"}}{% endblock %}</title>
        <link href='{% static "main.css" %}' rel="stylesheet">
    </head>
    <body>
        <noscript>
        <!-- TODO: Style more boldly -->
        You need to enable JavaScript to run this app.
        </noscript>
        {% block body %}
        <style>
        :root {
            background-color: gold;
        }
        </style>
        <dialog open>
        {% block content %}{% endblock %}
        </dialog>
        {% endblock %}
    </body>
</html>