.App {
  display: grid;
  grid-template-columns: 10em auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "side main";
  justify-content: stretch; 
  align-content: stretch;
  height: 100vh;
}

.View {
  grid-area: main;
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
